*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  body{
    font-family: 'Roboto', sans-serif;
  }

  /* ************** header ************** */
  .header__logo{
    font-family: 'Shrikhand', cursive; 
    font-size: 30px ;
    font-weight: normal; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px ;
    box-shadow: 0 0 .5rem rgba(0,0,0,.30);
    position: relative;
    /* z-index: 1000;    */
  }

  .header__fleche{
      position: absolute;
      left: 25px;
      top: 25px;
      font-size: 20px;
      cursor: pointer;
  }

/* ************** photo principale du resto ************** */
  .heroImg{
    min-height: 275px;
    max-height: 0px;
    width: 100%;
    object-fit: cover;
    object-position:right;
    
   
  }
  /* ************** main ************** */
  .containerMenu{
      width: 100%;
      background-color:#eaeaea ;
      border-radius: 35px 35px 0 0;
      padding-top: 35px;
      padding-left: 20px;
      margin-top: -56px;
      z-index: 100;
      position: relative;
      
}

  .titreEtCoeur{
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      /* width: 100%; */

  }

  .containerMenu__titre {
    font-family:'Shrikhand', cursive ; 
    font-size: 28px;
    font-weight: normal; 
    margin-right: auto;
}

   

.coeur-rempli, .coeur-rempliDegrader{
    top:40px;
    position: absolute;
    right:40px;
    font-size: 24px; 
    cursor: pointer;
    -webkit-text-fill-color: white;  
    -webkit-text-stroke-width: 1px;
} 

.coeur-rempliDegrader{
    
    /* background:-moz-linear-gradient(bottom,  #FF79DA 10%, #9356DC 100%);
    background: -webkit-linear-gradient(bottom,  #FF79DA 10%, #9356DC 100%);   */
    background: linear-gradient(to top  , #c078c1 10%, #9356DC 100%);   
    -webkit-text-fill-color: transparent;
    background-clip: text ;
    -webkit-background-clip: text;
    /* color: transparent; */
    -webkit-text-stroke-width: 0px;    
    transition-property: transform  ;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform:  scale(0);
    
}
    
.coeur:hover .coeur-rempliDegrader{    
	transform: scale(1);    
}


.entreePlatDessert{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;


}


 /* ************** entrées ************** */
.containerMenu__entree{
    height: 100%;
    /* transition: all 2s; */
}

.containerMenu__titreEntree{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 17px;
    margin: 40px 0px 25px 0;
    position: relative;
}
.containerMenu__titreEntree::after{
    content: "";
    background-color: #99e2d0;
    width: 45px;
    height: 3px;
    position: absolute;
    top: 26px;
    left: 0;
}


/* ************** entree1 entree2 et entree3 ************** */

.entree{
    /* width:98%; */
    height: 70px;
    background-color: white ;
    border-radius: 15px;
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
        
}

.entreeTitreText{
    line-height:24px; 
    width: 250px ; 
    
}


.centrerPrix{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content:space-between;
}

.entree__titre{
    font-size: 17px;
    width: 200px ; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
   
    
}
.entree__text{
    font-size : 15px;  
    width: 200px ; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;   
   
}

.entree__prix{
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
    transition-property: transform;
    transition-duration:  0.5s;
    transition-delay:1ms;   
    transition-timing-function: cubic-bezier(.5,0.5,.5,0.5);

}


/* animation des le chargement de la page*/

@keyframes glissement {
    0%{
        transform: translateY(40px); 
    }
    100%{
        transform: translateY(0px);
    }  
}

@keyframes opacite{
    from{
        opacity: 0; 
    }
    
    to{
        opacity: 1;
    }
}

@keyframes visibilite {
    0%{
        visibility: hidden; 
    }
    100%{
        visibility: visible;
    }  
}



 .entree1, .plat1, .dessert1{
    
    animation: glissement, opacite, visibilite ;
    animation-duration: 1s;
    animation-fill-mode: forwards ; /*elle garde l'état final */
    /* animation-delay: 2s; */
    /* animation-iteration-count: unset; */
    /* animation-play-state: paused; */
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate; /* pour un retour en douceur */
    /* animation: couleur 3s alternate infinite; elle remplace le tt */
    

}
.entree2, .plat2, .dessert2{
    
    animation: glissement, opacite, visibilite;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate; 
    visibility: hidden;
    animation-delay: .5s;
    animation-fill-mode: forwards ;
}

.entree3, .plat3, .dessert3{
    
    animation: glissement, opacite, visibilite;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate; 
    animation-delay: 1s;
    visibility:hidden;
    animation-fill-mode: forwards ;
}

.entree4, .plat4, .dessert4{
    
    animation: glissement, opacite, visibilite;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate; 
    animation-delay: 1.5s;
    visibility:hidden;
    animation-fill-mode: forwards ;
}
 

.checkBtn{
   width: 60px;
   height: 70px;
   display:flex;
   justify-content: flex-end;
   align-items: center;     
   background-color: #99e2d0;
   border-radius: 0 15px  15px 0; 
   transform: translateX(60px);
   transform-origin: 100%;
   transition-property: transform ;
   transition-duration:  0.5s;
   transition-delay:1ms 3s;   
   transition-timing-function: cubic-bezier(.5,0.5,.5,0.5);
  
}


.fa-check-circle{ 
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align:center;
    transform: rotate(0deg);
    /* transition-delay:0.5ms; */
    transition-duration: .7s ;
    transition-timing-function: cubic-bezier( 0.73, 0.32, 0.38, 0.84 );
   /* animation: rotation;
animation-duration: 3s;
animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
/* animation-direction: alternate;  */

} 

 .centrerPrix:hover ~ .checkBtn i{    
    transform: rotate(-360deg);
} 

.centrerPrix:hover ~ .checkBtn {
    transform: translateX(0px);
    justify-content: center;
}
.centrerPrix:hover  .entree__prix {
    transform: translate(-10px);
    justify-content: center;
    
}

/* bouton de commande */

.main__btnCommand{
    width:190px;
    height: 48px;
    color: white;
    font-size: 16px;
    text-align:center;
    background-color: rgb(85, 47, 131);
    background-image: linear-gradient(-8deg, rgba(147,86,220,.9), rgba(255,121,218,.9));
    box-shadow: 2px 6px 10px -3px rgba(0 0 0 / 50%);
    border: 0px;
    border-radius: 50px;
    margin: 40px 0;
    cursor: pointer;
    opacity: 1;
    /* transition: opacity box-shadow 1s;  */
    transition: opacity  .2s;
}

.main__btnCommand:hover{
    opacity: 0.9;
    box-shadow: 2px 6px 10px -3px rgba(0, 0, 0, .70);
}

.centrerBtn{
    display: flex;
    justify-content: center;
    
}

  
/* ************** footer ************** */

.footer{
    background-color: #353535 ;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;    
}

.footer__logo{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.footer__list{
    display: flex;
    flex-direction: column;
}

footer li{
    list-style: none; 
    margin-bottom: 10px;   
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer__link{
    margin-bottom: 10px;
    
    
}

.footer__link .fa-utensils{
    margin-right: 10px;
    font-size: 12px;  
}

.footer__link .fa-hands-helping{
    margin-right: 4px; 
    font-size: 11px; 
}


@media screen and (max-width: 370px){
   .containerMenu__entree, .containerMenu__plats, .containerMenu__dessert{
       width: 100%;
   } 
   .coeur-rempli, .coeur-rempliDegrader{
    right:20px;
    } 
}

