*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  body{
    font-family: 'Roboto', sans-serif;
}

   /* ************** loder spiner ************** */

  .loader{
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: 'Shrikhand', cursive; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: chargement;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 20;
    position :fixed;
  }

  @keyframes chargement {

  0% { 
      visibility: visible; 
    }

  100%{   
      visibility: hidden;  
    }
}

  .loadText {
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
   
}

.load__bar {
    font-size: 50px;
    background: -webkit-linear-gradient(bottom,  #FF79DA 10%, #9356DC 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #9356DC;
    height: 100%;
    width: 10vh;
    text-align: center;
    animation: bars 2500ms backwards infinite;
    animation-direction: alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--2 {
 animation-delay: 400ms;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--5 {
    animation-delay: 1000ms;
}

.load__bar--6 {
    animation-delay: 1200ms;
}
.load__bar--7 {
    animation-delay: 1400ms;
}

.load__bar--8 {
    animation-delay: 1600ms;
} 

@keyframes bars {
   0% {
       transform: scaleY(0.5);
   }

   100% {
       transform: scaleY(1);
   }
 
}

/* loader cercle   */ 
  
.loadCircle {
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #FF79DA ;
   border-bottom: 16px solid #9356DC;
   width: 120px;
   height: 120px; 
   animation: spin 2s linear infinite;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

  
  /* ************** header ************** */
  .header__logo{
    font-family: 'Shrikhand', cursive; 
    font-size: 30px ;
    font-weight: normal; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px ;
    box-shadow: 0 0 .5rem rgba(0,0,0,.30);
    position:relative;
      
  }

  /* ************** main ************** */
 
 
  /* ************** section localisation du restaurant ************** */
 .localisation{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 50px ;
     background: #eaeaea ;
 }
 
 .localisation__text{
     font-weight: bold; 
 }
  .fa-map-marker-alt{
    margin-right: 15px;
  }

    /* ************** section presentation du restaurant ************** */

.presentation{
    padding: 30px 0;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    background-color: #f6f6f6;
}

.presentation__titre {    
    margin-bottom:15px;
}

.presentation__text {
    font-size: 18px;
    margin-bottom:15px;
}

.prestation__btn {
    position: relative;
    padding: 15px 18px;
    border:2px  ;
    border-radius: 50px;
    background-color: #542f81 ;
    background: linear-gradient(175deg, rgba(255, 121, 218, 1), rgba(147, 86, 220, 1) );
    box-shadow: 2px 6px 10px -3px rgba(0, 0, 0, .5);
    font-size: 16px;
    color: white;
    text-decoration:none;
    margin: 20px;  
    opacity: 1;
    transition-property: opacity, box-shadow ;
    transition-duration: .3s ;
} 

.prestation__btn:hover {
    opacity: 0.9;
    box-shadow: 2px 6px 10px -3px rgba(0, 0, 0, .70);
}

     /* ************** section fonctionnement ************** */

.fonction__titre{
        margin: 40px 0 0 20px;
}

.fonction{
        margin: 30px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.fonction__link{
        text-decoration: none;
        color: black;
}

   .fonction__btn{
    position: relative;
    background-color: #f6f6f6;
    border-radius: 20px;
    text-align: center;
    padding: 27px 0;
    width: 330px;
    margin: 10px auto 10px  20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content:flex-start;
    box-shadow: 2px 6px 10px -3px rgb(0 0 0 / 50%);
} 

   .fonction__btnLocResto i:first-child{
    font-size: 20px;   
}

   .fonction__btn i{
       font-size: 17px;
       color:gray;
       margin: 0 30px;
}

   .fonction__btn:hover  i{
    color:#9356DC;
}

   .fonction__btn::before{
       background:#9356DC ;
       border-radius: 50px;
       padding: 4px 8px;
       color: white;
       font-size: 14px;
       font-weight: normal;
       position: absolute;
       left: -15px;   
   }

   .fonction__btnLocResto::before{
       content: "1";
   }

   .fonction__btnComposMenu::before{
    content: "2";
   }
   
    .fonction__btnChoixResto::before{
    content: "3";
   }
   
   /* ************** section des cartes du restaurant ************** */
   .restaurant{
       background-color: #f6f6f6;
       padding: 50px 0px;
   }
   .resto__titre{
       margin-left: 20px;
   }
   .resto{
       display: flex;
       justify-content: space-evenly;
       flex-wrap: wrap;
   }
 
   .resto__carte{
       width: 335px;
       height: 255px;
       background-color: white;
       box-shadow: 2px 6px 10px -3px rgb(0 0 0 / 50%);
       border-radius: 20px; 
       margin: 20px 3px ;
       cursor: pointer;   
}
   .carte__img{
       width: 100%;
       height: 70%;
       background-size:cover;
       background-position: bottom;
       position: relative;
       border-radius:20px  20px 0 0;
}

.link__carte{
   text-decoration: none; 
}

.resto__carte1 .carte__img{
    background-image: url("Maquettes-Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") ;
}

.resto__carte2 .carte__img{    
    background-image: url("Maquettes-Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") ;
    background-position: 0px -145px;
}

.resto__carte3 .carte__img{    
    background-image: url("Maquettes-Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") ;
}
.resto__carte4 .carte__img{    
    background-image: url("Maquettes-Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") ;
}
.btn{
    position: absolute;
    background-color: #99E2D0;
    right: 10px ;
    top:20px;
    font-size: 14px;
    font-weight: bold;
    color: #008766;
    padding: 8px 12px;
}

.carte__description{
    position:relative;
    margin:10px;
    line-height:25px ;
    color: black;
}

.carte__titre {
   font-size: 16px; 
   font-weight: bold;
   
}
.carte__titre::first-letter{
    text-transform: uppercase;
} 
.carte__texte {
    font-size: 16px; 
}

.coeur-rempli, .coeur-rempliDegrader{ 
    position: absolute;
    right: 24px;
    top:13px;
    font-size: 24px; 
    cursor: pointer;
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-fill-color: white; 
    }
    
    .coeur-rempliDegrader{
    background:-moz-linear-gradient(bottom,  #FF79DA 10%, #9356DC 100%);
    background: -webkit-linear-gradient(bottom,  #FF79DA 10%, #9356DC 100%); 
    background: linear-gradient(to top  , #FF79DA 10%, #9356DC 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  /* rend la couleur du bacground a l'interieur du text    */
    -webkit-text-stroke-width: 0px;
     transform: scale(0); 
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    } 
    
    .coeur:hover  .coeur-rempliDegrader{    
	transform: scale(1);
    }


/* ************** footer ************** */
.footer{
    background-color: #353535 ;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;    
}

.footer__logo{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.footer__list{
    display: flex;
    flex-direction: column;
}

footer li{
    list-style: none; 
    margin-bottom: 10px;   
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer__link{
    margin-bottom: 10px;
    
    
}

.footer__link .fa-utensils{
    margin-right: 10px;
    font-size: 12px;  
}

.footer__link .fa-hands-helping{
    margin-right: 4px; 
    font-size: 11px; 
}


/* ************** media query ************** */

@media screen and (max-width: 370px){
    .resto {
        width: 100%;
    }
    .resto__carte {
        width: 300px;
    }
    .fonction__btn {
        width: 290px;
    }
}