*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  body{
    font-family: 'Roboto', sans-serif;
  }
  
  /* ************** header ************** */
  .header__logo{
    font-family: 'Shrikhand', cursive; 
    font-size: 30px ;
    font-weight: normal; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px ;
    box-shadow: 0 0 .5rem rgba(0,0,0,.30);
    position: relative;
    /* z-index: 1000;    */
  }

  .header__fleche{
      position: absolute;
      left: 25px;
      top: 25px;
      font-size: 20px;
      cursor: pointer;
  }

/* ************** photo principale du resto ************** */
  .heroImg{
    min-height: 275px;
    max-height: 0px;
    width: 100%;
    object-fit: cover;
    object-position:right;
    
   
  }
  /* ************** main ************** */
  .containerMenu{
      width: 100%;
      background-color:#eaeaea ;
      border-radius: 35px 35px 0 0;
      padding-top: 35px;
      padding-left: 20px;
      margin-top: -56px;
      z-index: 100;
      position: relative;
      
}

  .titreEtCoeur{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

  }

  .containerMenu__titre {
    font-family:'Shrikhand', cursive ; 
    font-size: 28px;
    font-weight: normal; 
    margin-right: auto;
}

.coeur-rempli {
   
    right: 0px;
    top:0px;
    font-size: 24px; 
    cursor: pointer;
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-fill-color: #eaeaea;
    /* transition-property: -webkit-text-fill-color, transform; */
    /* transition-duration: 1s; */
    /* transition-timing-function: ease-in-out; */
    margin-right:40px;
    
}

 /* ************** entrées ************** */
.containerMenu__entree{
    height: 100%;
    /* transition: all 2s; */
}

.containerMenu__titreEntree{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 17px;
    margin: 40px 0px 25px 0;
    position: relative;
}
.containerMenu__titreEntree::after{
    content: "";
    background-color: #99e2d0;
    width: 45px;
    height: 3px;
    position: absolute;
    top: 26px;
    left: 0;
}


/* ************** entree1 ************** */

.entree{
    width:98%;
    height: 70px;
    background-color: white ;
    border-radius: 15px;
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    
    
}

.entreeTitreText{
    line-height:24px; 
}

.centrerPrix{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content:space-between;
}

.entree__titre{
    font-size: 17px;
}
.entree__text{
    font-size: 15px;
}
.entree__prix{
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 20px;
    cursor: pointer;
}

/* animation des le chargement de la page*/


 .entree1{
    animation: opacity, visibility;
    animation-duration: 3s;
    animation-fill-mode: forwards ; /*elle garde l'état final */
    /* animation-delay: 2s; */
    /* animation-iteration-count: unset; */
    /* animation-play-state: paused; */
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate; /* pour un retour en douceur */
    /* animation: couleur 3s alternate infinite; elle remplace le tt */
    visibility:hidden;
}

@keyframes opacity{
    from{
        opacity: 0; 
    }
    
    to{
        opacity: 1;
    }
}

@keyframes visibility {
    0%{
        visibility: hidden; 
    }
    100%{
        visibility: visible;
    }  
}

.entree2{
    
    animation: opacity, visibility;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate; 
    visibility: hidden;
    animation-delay: .3s;
    animation-fill-mode: forwards ;
}

.entree3{
    
    animation: opacity, visibility;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate; 
    animation-delay: .6s;
    visibility:hidden;
    animation-fill-mode: forwards ;
}
 

.checkBtn{
   width: 0px;
   height: 70px;
   display:flex;
   justify-content: flex-end;
   align-items: center;     
   background-color: #99e2d0;
   border-radius: 0 15px  15px 0;  
   transition-property: width;
   transition-duration:  2s;
   transition-delay:0.7ms;   
   transition-timing-function: cubic-bezier(.5,0.5,.5,0.5);
}



/* .checkBtn:hover{    
    width: 60px  ; 
    justify-content: center;
} */

/* .fa-check-circle*/.checkBtn i{ 
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align:center;
    /* visibility: hidden; */
    transform: rotate(180deg);
    /* transition-delay:0.5ms; */
    transition-duration:2s ;
    
    transition-timing-function: cubic-bezier (1, 0.01, 0.01, 1.01);
/* animation: rotation;
animation-duration: 3s;
animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
animation-direction: alternate; */

} 
/* @keyframes rotation {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);

    }
} */

 .centrerPrix:hover ~ .checkBtn i{    
    transform: rotate(0deg);

    /* visibility: visible;  */
    
     
} 

/* .centrerPrix:hover + .checkBtn */

.centrerPrix:hover ~ .checkBtn {
    width: 60px  ; 
    justify-content: center;
    
}

/* bouton de commande */

.main__btnCommand{
    width:190px;
    height: 48px;
    color: white;
    font-size: 16px;
    text-align:center;
    background-color: rgb(147,86,220);
    background-image: linear-gradient(-8deg, rgba(147,86,220,.9), rgba(255,121,218,.9));
    box-shadow: 2px 6px 10px -3px rgb(0 0 0 / 50%);
    border: 0px;
    border-radius: 50px;
    margin: 40px 0;
    cursor: pointer;

}

.centrerBtn{
    display: flex;
    justify-content: center;
    
}
.main__btnCommand:hover{
    /* background: linear-gradient(0deg, rgba(147,86,220,.9), rgba(255,121,218,.9)); */
    background-color: rgba(180,116,224,1);
    background-image: linear-gradient(180deg, rgba(255,121,218,.9) , rgba(180,116,224,0.5));
}
  
/* ************** footer ************** */
.footer{
    background-color: #353535 ;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;    
}

.footer__logo{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.footer__list{
    display: flex;
    flex-direction: column;
}

footer li{
    list-style: none; 
    margin-bottom: 10px;   
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer__link{
    margin-bottom: 10px;
    
    
}

.footer__link .fa-utensils{
    margin-right: 10px;
    font-size: 12px;  
}

.footer__link .fa-hands-helping{
    margin-right: 4px; 
    font-size: 11px; 
}


